<div class="card">
  <%= image_tag idea.image, class:"card-img-top" %>
    <span class="user-name">
      <%= link_to "by #{idea.user.first_name}", user_path(idea.user.id), class:"name" %>
    </span>
  <div class="card-body">
    <div class="card-title">
      <span class="card-title-text"><%= idea.catchphrase %></span> 
    </div>
    <div class="card-text">
      <span class="card-text-style">希望のカタチ</span>
      <span class="card-text-category"><%= idea.category.name %></span>
    </div>
    <div class="d-grid gap">
    <%= link_to "詳細へ", idea_path(idea.id), class:"btn btn-light" %>
    </div>
  </div>
</div>
