<div class="card">
  <% if idea.image.present? %>
    <%= image_tag idea.image, class:"card-img-top" if idea.image.attached? %>
  <% else %>
    <%= image_tag "card-top.png", class:"card-img-top" %>
  <% end %>
    <span class="user-name">
      <%= link_to "by #{idea.user.first_name}", user_path(idea.user.id), class:"name" %>
    </span>
  <% if idea.order.present? %>
    <div class='sold-out'>
      <span>CLOSED</span>
    </div>
  <% end %>
  <div class="card-body">
    <div class="card-title">
      <span class="card-title-text"><%= idea.catchphrase %></span> 
    </div>
    <div class="card-text">
      <span class="card-text-style">希望のカタチ</span>
      <span class="card-text-category"><%= idea.category.name %></span>
    </div>
    <div class="d-grid gap">
    <%= link_to "詳細へ", idea_path(idea.id), class:"btn btn-light" %>
    </div>
  </div>
</div>
