<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="form-wrapper">
      <h2 class="new-idea-header">Let's Post Your Idea!</h2>
      <%= form_with model: @idea, local: true do |f|%>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">アイディアの画像</label>
            <span class="badge bg-light text-dark">任意</span>
          </div>        
          <%= f.file_field :image, id:"idea_image" %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">キャッチフレーズ</label>
            <span class="badge bg-dark">必須</span>
          </div>
          <%= f.text_field :catchphrase, class:"input-default", id:"idea_catchphrase" %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">アイディア詳細</label>
            <span class="badge bg-dark">必須</span>
          </div>
          <%= f.text_area :detail, class:"text-area-text", id:"idea-detail" %>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">このカタチで見てみたい！</label>
            <span class="badge bg-dark">必須</span>
          </div>
        <%= f.collection_select(:category_id , Category.all, :id, :name, {}, {class:"select-box", id:"idea-category"}) %> 


        <div class="submit-btn">
          <%= f.submit "保存する", class:"submit-btn-text"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>