<%= render "shared/header" %>

<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @idea.catchphrase%>
      </p>
      <%= link_to "by #{@idea.user.first_name}", user_path(@idea.user.id), class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && @idea.order == nil %>
        <% if current_user.id == @idea.user_id %>
          <P class="idea-edit">
          <%= link_to "編集する", edit_idea_path, method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除する", idea_path, method: :delete, class:"item-destroy" %>
        <% else %>
          <p class="much-up">
          <%= link_to "much up画面に進む", idea_orders_path(@idea.id) ,class:"item-red-btn"%>
        <% end %>
      <% end %>

      <div class="prototype__image">
        <%= image_tag @idea.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">詳細</p>
          <p class="detail__message">
            <%= @idea.detail %>
          <p class="detail__title">この形でつくってほしい！</p>
            <%= @idea.category.name %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# マッチングしたユーザーにのみ以下の作品投稿フォームを表示する %>
        <% if @idea.order.present? && @idea.creation == nil %>
          <% if current_user.id == @idea.order.user_id %>
            <%= form_with model: [@idea, @creation],local: true do |f|%>
              <div class="field">
                <%= f.label :image, "作品の画像" %><br />
                <%= f.file_field :image, id:"prototype_image" %><br />
                <%= f.label :day, "作成所要期間" %><br />
                <%= f.text_field :day, placeholder: "例）7日間、30時間" %><br />
                <%= f.label :comment, "コメント" %><br />
                <%= f.text_area :comment, id:"comment_text", rows: "3" %>
              </div>
              <div class="actions">
                <%= f.submit "送信する", class: :form__btn  %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%# マッチングユーザーからの投稿作品がある場合のみ以下の詳細を表示する %>
        <% if @idea.creation.present? %>
          <div class=creation__wrapping>
            <div class="creation__image">
              <%= image_tag @creations.image %><br/>
              <%= link_to "by #{@creations.user.first_name}", user_path(@idea.user.id), class: :prototype__user %>
            </div>
            <div class="creation__body">
              <div class="creation__detail">
                <p class=detail__days>作成にかかった期間</p>
                  <%= @idea.creation.day %>
                <p class="detail__comment">作品詳細</p>
                  <%= @idea.creation.comment %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>