<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="form-wrapper">
      <h2 class="user-header">
        <%= "#{@user.first_name}さんの情報" %>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2">
              <%= @user.last_name %>
              <span class="table__col2__name"><%= @user.first_name %></span>
            </td>
          </tr>
          <tr>
            <th class="table__col1">住んでいる県</th>
            <td class="table__col2">
            <%= @user.Prefecture.name %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="user-header">
        <%= "#{@user.first_name}さんの投稿アイディア"%>
      </h2>
      <div class="user-card-wrapper">
        <%= render partial: "/ideas/idea" , collection: @ideas %>
      </div>
      <h2 class="user-header">
        <%= "#{@user.first_name}さんの投稿作品"%>
      </h2>
      <div class="user-card-wrapper">
        
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>