<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.first_name}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <tr>
            <th class="table__col1">好きな県</th>
            <td class="table__col2">
            <%= @user.Prefecture.name %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.first_name}さんのプロトタイプ"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: "/ideas/idea" , collection: @ideas %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>